﻿@model int
@{
    ViewBag.Title = "Checkout Complete";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            <p>Teşekkürler, siparişiniz alınmıştır: Sipariş numaranız: @Model</p>
            <p>
                Tekrar alışveriş yapmak için ürünler sayfasına gidiniz
                @Html.ActionLink("ÜRÜNLER", "Index", "Items")
            </p>
        </div>
    </div>
</section>

