﻿@model IEnumerable<OpenOrderFramework.Model.Entity.User>
@{
	ViewBag.Title = "Index";
}
<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">
			<p>
				@Html.ActionLink("Yeni Kullanıcı Oluştur", "Create")
			</p>
			<table class="table">
				<tr>
					<th>
						<label>Kullanıcı</label>
					</th>
					<th><label>Müşteri Kodu</label></th>
					<th><label>Eklenme Tarihi</label></th>
					<th>
					</th>
				</tr>
				@foreach (var item in Model)
				{
				<tr>
					<td>
						@Html.DisplayFor(modelItem => item.UserName)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.ClientCode)
					</td>
					<td>
						@Html.DisplayFor(modelItem => item.CreatedDate)
					</td>
					<td>
						@Html.ActionLink("Düzenle", "Edit", new { id = item.Id }) |
						@Html.ActionLink("Detay", "Details", new { id = item.Id }) |
						@Html.ActionLink("Sil", "Delete", new { id = item.Id })
					</td>
				</tr>
				}
			</table>
		</div>
	</div>
</section>

