﻿
@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<section id="content">
	<div class="content-wrap">
		<div class="container clearfix">

			<iframe src="@ViewBag.surveyUrl" width="1000" height="1000"></iframe>
		</div>
	</div>
</section>


