﻿@model OpenOrderFramework.Models.ChangePasswordViewModel
@{
    ViewBag.Title = "Change Password";
}

<section id="content">
    <div class="content-wrap">
        <div class="container clearfix">
            
            @using (Html.BeginForm("ChangePassword", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                    <h4>Şifrenizi değiştirin</h4>
                    <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    <label class="col-md-2 control-label">Eski Şifre</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.OldPassword, new {@class = "form-control"})
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Yeni Şifre</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-2 control-label">Yeni Şifre Tekrar</label>
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Kaydet" class="btn btn-default" />
                    </div>
                </div>
            }
        </div>
    </div>
</section>


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
