﻿@model OpenOrderFramework.Models.LoginViewModel
@{
    ViewBag.Title = "Log in";
    Layout = null;
}
<!DOCTYPE html>
<html dir="ltr" lang="en-US">
<head>

    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="author" content="SemiColonWeb" />

    <!-- Stylesheets
    ============================================= -->
    <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/dark.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/font-icons.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/animate.css" type="text/css" />
    <link rel="stylesheet" href="~/assets/css/magnific-popup.css" type="text/css" />

    <link rel="stylesheet" href="~/assets/css/responsive.css" type="text/css" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Document Title
    ============================================= -->
    <title>Login - Layout 4 | Canvas</title>

</head>

<body class="stretched">

    <!-- Document Wrapper
    ============================================= -->
    <div id="wrapper" class="clearfix">

        <!-- Content
        ============================================= -->
        <section id="content">

            <div class="content-wrap nopadding">

                <div class="section nopadding nomargin" style="width: 100%; height: 100%; position: absolute; left: 0; top: 0; background: #444;"></div>

                <div class="section nobg full-screen nopadding nomargin">
                    <div class="container vertical-middle divcenter clearfix">

                        <div class="row center">
                            <a href="#"><img src="~/assets/images/logo-artukbey.png"  style="margin-bottom: 15px;width: 200px" alt="ArtukBey Logo"></a>
                        </div>

                        <div class="panel panel-default divcenter noradius noborder" style="max-width: 400px;">
                            <div class="panel-body" style="padding: 40px;">
                                @using (Html.BeginForm("_Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "nobottommargin", role = "form" }))
                                {
                                    <h3>Hesabınıza Giriş Yapın</h3>
                                    @Html.AntiForgeryToken()
                                    <div class="col_full">
                                        @Html.LabelFor(m => m.Email, new {@for = "login-form-username"})
                                        @Html.TextBoxFor(m => m.Email, new {@class = "form-control not-dark", @id= "login-form-username" })
                                        @Html.ValidationMessageFor(m => m.Email, "", new {@class = "text-danger"})
                                        @* <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark" />*@
                                    </div>
                                    <div class="col_full">
                                        @Html.LabelFor(m => m.Password, new { @for = "login-form-password" })
                                        @Html.TextBoxFor(m => m.Password, new { @class = "form-control not-dark", @id = "login-form-password" })
                                        @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button type="submit" class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login" style="text-transform: none">Giriş</button>
                                        <a href="#" class="fright">Şifremi unuttum</a>
                                    </div>
                                }
                                @*<form id="login-form" name="login-form" class="nobottommargin" action="#" method="post">
                                    <h3>Login to your Account</h3>

                                    <div class="col_full">
                                        <label for="login-form-username">Username:</label>
                                        <input type="text" id="login-form-username" name="login-form-username" value="" class="form-control not-dark"/>
                                    </div>

                                    <div class="col_full">
                                        <label for="login-form-password">Password:</label>
                                        <input type="password" id="login-form-password" name="login-form-password" value="" class="form-control not-dark"/>
                                    </div>

                                    <div class="col_full nobottommargin">
                                        <button class="button button-3d button-black nomargin" id="login-form-submit" name="login-form-submit" value="login">Login</button>
                                        <a href="#" class="fright">Forgot Password?</a>
                                    </div>
                                </form>*@

                            </div>
                        </div>

                        @*<div class="row center dark"><small>Copyrights &copy; All Rights Reserved by Canvas Inc.</small></div>*@

                    </div>
                </div>

            </div>

        </section><!-- #content end -->

    </div><!-- #wrapper end -->
    <!-- Go To Top
    ============================================= -->
    <div id="gotoTop" class="icon-angle-up"></div>

    <!-- External JavaScripts
    ============================================= -->
    <script type="text/javascript" src="~/assets/js/jquery.js"></script>
    <script type="text/javascript" src="~/assets/js/plugins.js"></script>

    <!-- Footer Scripts
    ============================================= -->
    <script type="text/javascript" src="~/assets/js/functions.js"></script>

</body>
</html>